@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
#contact {
  background: url("images/bg-intro-desktop.png") var(--red);
  min-height: 100vh;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.container .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container .row .col-1 h1 {
  color: #fff;
  font-size: 45px;
  margin-bottom: 2rem;
  line-height: 1.2;
}
.container .row .col-1 p {
  color: #fff;
}

.container .row .col-2 .trial {
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 15px 0px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
}

.container .row .col-2 .form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
}
.container .row .col-2 .form input {
  display: block;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid var(--Grayish-Blue);
}

.container .row .col-2 .form input:focus {
  outline: 1px solid var(--dark-blue);
}
.container .row .col-2 .form button {
  background-color: var(--green);
  color: white;
  border: none;
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
}
.container .row .col-2 .form p {
  font-size: 12px;
  color: var(--Grayish-Blue);
  text-align: center;
  margin-top: 15px;
}
.container .row .col-2 .form p a {
  color: var(--red);
  text-decoration: none;
  font-weight: 600;
}
/* responsive */
/* tablets */
@media (max-width: 900px) {
  .container .row {
    column-gap: 1rem;
  }
}

/* mobile */
@media (max-width: 700px) {
  .container .row {
    grid-template-columns: 1fr;
  }
  #contact {
    text-align: center;
  }
  .container {
    padding: 2rem;
  }
}
